p{
    color: red;
}

#parad {
    color: blue;
}
.para{
    color: green;
}
#divid .spa{
    color: grey;
}
.div #spanid{
    color: coral;
}

div #spanid{
    color:aqua
}

#spanid:hover{
    color: green;
}
.card{
    background-color: gray;
    width: 300px;
    
    display: flex;
    flex-direction: column;

   
}
#image{
    border-radius: 25px;
    padding: 20px
     
}
#line{
    width: 250px;
    height: 1px;
    background-color: black;
    margin-left: 20px;
    margin-top: 5px;
}


h3{
    margin-top: 0;
    margin-left: 20px;
    margin-bottom: 0;

}
#para{
    margin-left: 20px;
    margin-top: 5px;
}

.grad{
    background-image: linear-gradient(red, blue) ;
    height: 250px;
    width: 500px;
}

#shad{
    text-shadow: 3px 3px 3px blue ;
}

.over{
    overflow: scroll;
    max-height: 150px;
    border: 2px solid;
}
.corner {
    min-height: 50px;
    min-width: 50px;
    max-width: 500px;
    max-height: 500px;
    border: 2px solid black;
    transform: translate(25px,30px);
    transform: skew(135deg);
}


.posi{
    height: 2000px;
    width: 100vw;
    background-color: yellow;
    position: relative;
}
.pos{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    background-color: aqua;
    display: inline-block;

}
#box2{
    position: absolute;
    left: 970px;
    top: 20px;
}
#box1{
    position: fixed;
    left: 400px;
    top: 10px;
    
}
#box3{
    position: sticky;
    top: 70px;
}
/* #box4{
    position: fixed;
    top: 400px;
} */

.pos3{
    height: 100px;
    width: 100px;
    background-color: turquoise;
    border: 1px solid black;

}

#translated{
    transform: perspective(15px) translateZ(-5px);

}
#scaled{
    margin-left: 100px;
    transform: perspective(500px) scaleZ(2) rotateX(25deg) rotateY(45deg);
}

.flexcon {
    display: flex;
    flex-direction: column;
    
}